.button {
    background-color: #4CAF50; /* Green */
    border: none;
    font-family: 'Bangers', cursive;
    padding: 2%;
    text-align: center;
    display: inline-block;
    font-size: 1.3em;
    margin: 4px 2px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor: pointer;
}

.button2 {
    background-color: white; 
    color: black; 
    border: 2px solid #008CBA;
}

.button2:hover {
    background-color: #008CBA;
    color: white;
}