.landingLogo {
    background-color: white;
    padding: .7% 0% 0% 0%;
    height: 17vh;
}

.Logo {
    background-color: white;
    padding: 8px;
    height: 100%;
    box-sizing: border-box;
    border-radius: 5px;
}


